.meals {
  max-width: 60rem;
  width: 90%;
  margin: 2rem auto;
  animation: meals-appear 1s ease-out forwards;
}

.meals ul {
  list-style: none;
  margin: 0;
  padding-inline: 0;
}

.form{
  border-width:20px;
  border-style:solid;
 border-color: darkred;
  padding-left: 300px;
   height: 150px;
   padding-top: 20px;
   width: auto;
   padding-bottom: 20px;
   font-weight:bold;
}
input {
  margin-top: 10px;
  
}
@keyframes meals-appear {
  from {
    opacity: 0;
    transform: translateY(3rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
